body {
    color: blue;
    font-size: larger;

}

.hero {
    color: blue;
    background-color: yellow;
    padding: 15px;
}

.container {
    background-color: yellow;
    width: 100%;

}

#searchTerm {
    border-radius: 5px;
    width: 25%;
    height: 30px;   
}

.storage-container {
    background-color: blue;
}